<div class="landingPage">
  <div class="landingPageHeaderBox">
    <div class="buttonBox">

      <div ng-class="{'is-visible':visible}" ng-hide="$ctrl.hideSideMenu" class="menuMobileCategory">
        <button type="button" class="close closeMenu" ng-click="visible=!visible;">x</button>
        <ul class="menuLinkMenu">
          <h2 class="sideMenuHeader">Categories</h2>
          <li class="categoryLink" ng-click="$ctrl.getCategory('sports'); visible=!visible;">Sports</li>
          <li class="categoryLink" ng-click="$ctrl.getCategory('entertainment'); visible=!visible;">Entertainment</li>
          <li class="categoryLink" ng-click="$ctrl.getCategory('technology'); visible=!visible;">Technology</li>
          <li class="categoryLink" ng-click="$ctrl.getCategory('general'); visible=!visible;">General</li>
          <li class="categoryLink" ng-click="$ctrl.getCategory('science'); visible=!visible;">Science</li>
          <li class="categoryLink" ng-click="$ctrl.getCategory('business'); visible=!visible;">Business</li>
          <li class="categoryLink" ng-click="$ctrl.getCategory('health'); visible=!visible;">Health</li>
        </ul>
      </div>
    </div>
    <div class="headerBox">
      <h1 class="chaseHeader">Chase</h1>
      <img id="top" class="chasenewsLogo" src="images/ChaseNewsLogo.png" />
      <h1 class="newsHeader">News</h1>
    </div>
    <div class="buttonBox">
      <p class="switchTo">
        Switch to:
      </p>
      <button ng-show="$ctrl.newspaperButton" ng-click="$ctrl.showNewspapers()" class="btn landingPageHeaderButtonN">News Outlets</button>
      <button ng-show="$ctrl.categoriesButton" ng-click="$ctrl.showCategories()" class="btn landingPageHeaderButtonC">Categories</button>
    </div>
  </div>
  <button ng-hide="$ctrl.hideCategoryMenuButton" class="sideMenuCategory" ng-click="visible=!visible;">Choose a category</button>

  <h2 class="menuHeaderCategories" ng-show="$ctrl.categoryMenu">Categories</h2>

  <div class="menuBoxCategories" ng-show="$ctrl.categoryMenu">
    <div class="menu menuButton-categories" ng-click="$ctrl.getCategory('sports')">
      Sports
    </div>
    <div class="menu menuButton-categories" ng-click="$ctrl.getCategory('entertainment')">
      Entertainment
    </div>
    <div class="menu menuButton-categories" ng-click="$ctrl.getCategory('technology')">
      Technology
    </div>
    <div class="menu menuButton-categories" ng-click="$ctrl.getCategory('general')">
      General
    </div>
    <div class="menu menuButton-categories" ng-click="$ctrl.getCategory('science')">
      Science
    </div>
    <div class="menu menuButton-categories" ng-click="$ctrl.getCategory('business')">
      Business
    </div>
    <div class="menu menuButton-categories" ng-click="$ctrl.getCategory('health')">
      Health
    </div>
  </div>

  <h2 class="menuHeader" ng-show="$ctrl.newspaperMenu">News Outlets</h2>
  <div class="stickyDiv">
    <div class="menuBoxNewspapers" ng-show="$ctrl.newspaperMenu">
      <div class="menu2 menuButton-newspapers" ng-click="$ctrl.getNewspaper('cnn.com')" href="#top" du-smooth-scroll>
        CNN
      </div>
      <div class="menu2 menuButton-newspapers" ng-click="$ctrl.getNewspaper('huffingtonpost.com')" href="#top" du-smooth-scroll>
        HuffPost
      </div>
      <div class="menu2 menuButton-newspapersX" ng-click="$ctrl.getNewspaper('independent.co.uk')" href="#top" du-smooth-scroll>
        The Independent
      </div>
      <div class="menu2 menuButton-newspapers" ng-click="$ctrl.getNewspaper('msnbc.com')" href="#top" du-smooth-scroll>
        MSNBC
      </div>
      <div class="menu2 menuButton-newspapers" ng-click="$ctrl.getNewspaper('wsj.com')" href="#top" du-smooth-scroll>
        WSJ
      </div>
      <div class="menu2 menuButton-newspapers" ng-click="$ctrl.getNewspaper('ap.org')" href="#top" du-smooth-scroll>
        AP
      </div>
    </div>
    <div class="menuBoxNewspapers" ng-show="$ctrl.newspaperMenu">
      <div class="menu2 menuButton-newspapers" ng-click="$ctrl.getNewspaper('npr.org')" href="#top" du-smooth-scroll>
        NPR
      </div>
      <div class="menu2 menuButton-newspapers" ng-click="$ctrl.getNewspaper('reuters.com')" href="#top" du-smooth-scroll>
        Reuters
      </div>
      <div class="menu2 menuButton-newspapersX" ng-click="$ctrl.getNewspaper('economist.com')" href="#top" du-smooth-scroll>
        The Economist
      </div>
      <div class="menu2 menuButton-newspapers" ng-click="$ctrl.getNewspaper('usatoday.com')" href="#top" du-smooth-scroll>
        USA Today
      </div>
      <div class="menu2 menuButton-newspapersX" ng-click="$ctrl.getNewspaper('newsweek.com')" href="#top" du-smooth-scroll>
        Newsweek
      </div>
      <div class="menu2 menuButton-newspapers" ng-click="$ctrl.getNewspaper('nbcnews.com')" href="#top" du-smooth-scroll>
        NBC News
      </div>
    </div>
  </div>


  <img ng-show="$ctrl.beforeSearch" src="https://fthmb.tqn.com/9dOveBgb3oXyRMzCuSLrMWwwclk=/2121x1414/filters:fill(auto,1)/StackofNewspapers-59015e815f9b5810dc97efd7.jpg" class="mainLogo" />
  <img ng-show="$ctrl.newspaperClicked" class="newspaperHeader" src="{{$ctrl.newspaperHeader}}" />
  <h1 class="searchHeader">{{$ctrl.searchHeader}}</h1>

  <h3 ng-show="$ctrl.loading">LOADING...</h3>
  <div ng-repeat="article in $ctrl.news" class="articles">
    <a href="{{article.url}}" target="_blank" class="article-link">
      <div class="article-box">
        <img class="article-image" src="{{article.urlToImage}}" />
        <p class="article-title">
          {{article.title}}
        </p>
        <p class="article-description">
          {{article.description}}
        </p>
        <div class="article-details">
          <p class="article-details-p">
            {{article.source.name}}
          </p>
          <p class="article-details-p">
            {{article.publishedAt.slice(5,10).replace('-', '/')}}
          </p>
        </div>
      </div>
    </a>
  </div>
  <p ng-show="$ctrl.backToTop" class="backToTop" href="#top" du-smooth-scroll>
    Back To Top
  </p>
</div>
